* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  width: 100%;
}

ol {
  list-style: none;
  font-size: 16px;
  width: 194px;
}

ol li {
  padding: 10px 16px;
  border-radius: 10px;
}

.sidebar-active {
  background-color: #4643ee;
  color: #cecee3;
}

li:hover {
  background-color: #4643ee;
  color: #d4d4ee;
}

.navi {
  color: #777676;
}

.first {
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e4e4e4;
  padding: 30px;
}

.prof {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.profile-details p {
  margin: 0;
  padding: 0;
}

.prof img {
  width: 38px;
  height: 38px;
}

.second {
  width: 78%;
  height: 100vh;
}

.menu {
  margin-top: 10px;
  width: 194px;
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
